@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  @apply bg-black text-white;

  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}

@layer components {
  .skills_span {
    @apply flex w-auto h-auto gap-2 p-2;
  }
  .carousel_button_left {
    @apply absolute left-4 z-50 inset-shadow-sm shadow-sm shadow-white/20 inset-shadow-white/20 text-white p-4 rounded-full hover:shadow-[inset_0px_0px_4px_4px_rgba(255,255,255,0.6)];
  }

  .carousel_button_right {
    @apply absolute right-4 z-50 inset-shadow-sm shadow-sm shadow-white/20 inset-shadow-white/20 text-white p-4 rounded-full hover:shadow-[inset_0px_0px_4px_4px_rgba(255,255,255,0.6)];
  }

  .carousel_container {
    @apply relative w-full h-screen flex items-center justify-center overflow-hidden;
  }

  .carousel_modal {
    @apply fixed inset-0 z-40 flex items-center justify-center bg-black/70 backdrop-blur-sm;
  }

  .mobile_modal {
    @apply absolute top-1 left-1 w-28 h-58 overflow-hidden rounded-2xl;
  }

  .sidebar_container {
    @apply fixed top-0 left-0 h-screen w-64 bg-linear-to-t from-black/40 to-white/5 text-white border-r border-neutral-800 p-6 flex flex-col items-center;
  }

  .main_page {
    @apply flex bg-linear-65 from-black/80 to-white/20 text-white min-h-screen;
  }

  .sidebar_active {
    @apply shadow-[inset_0_0_8px_rgba(255,255,255,0.8)] text-white/80;
  }

  .sidebar_hover {
    @apply hover:text-white/80 hover:shadow-[inset_0_0_8px_rgba(255,255,255,0.8)];
  }

  .project_container {
    @apply inset-shadow-sm inset-shadow-white/40 rounded-2xl p-4;
  }

  .project_card_container {
    @apply grid grid-cols-12 grid-rows-3 w-240 h-106;
  }

  .laptop_preview {
    @apply col-start-1 col-span-5 row-start-1 row-span-3 p-4;
  }

  .mobile_preview {
    @apply col-start-4 col-span-2 row-start-2 row-span-2 p-4 relative;
  }

  .project_description {
    @apply col-start-6 col-span-6 row-start-1 row-span-3 p-4 text-white/80;
  }

  .language_toggle {
    @apply relative mt-6 flex items-center w-12 h-6 rounded-full bg-black border border-white/30 inset-shadow-sm inset-shadow-white/40 inset-ring-4 inset-ring-white/10 p-0.5 transition-colors;
  }

  .language_switcher {
    @apply absolute flex items-center justify-center w-5 h-5 rounded-full bg-white/90 text-black text-[8px] font-semibold uppercase shadow-md shadow-black/40 inset-ring-2 ring-black/20 transition-transform duration-300 ease-out;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
